<div class="line-set" style=<%= height %>>
  <span class="top-horizontal"></span>
  <span class="bottom-horizontal"></span>
  <span class="vertical"></span>
  <span class="center-horizontal"></span>
</div>