<div class="match<%= empty ? ' empty':'' %>" data-stage="<%=empty ? '' : stage %>">
    <div class="team">
        <div class="team-name">
            TBD
        </div>
        <div class="team-score">
            0
        </div>
    </div>
    <div class="team">
        <div class="team-name">
            TBD
        </div>
        <div class="team-score">
            0
        </div>
    </div>
</div>