<% provide(:title, "Homepage") %>

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p>
      Here you can join tournaments and create your own!<br>
      Remember to log in and create a team before joining any tournaments.
    </p>
    <p>
      <h2>Emails and passwords to accounts for testing purposes:</h2>
      <ul>
        <li><strong>email:</strong> admin@admin.com <strong>password:</strong> password</li>
        <li><strong>email:</strong> team1@team.com <strong>password:</strong> password</li>
        <li><strong>email:</strong> team2@team.com <strong>password:</strong> password</li>
        <li><strong>email:</strong> team3@team.com <strong>password:</strong> password</li>
        <li><strong>email:</strong> teamless@team.com <strong>password:</strong> password</li>
      </ul>
    </p>
    
  </div>
