<% provide(:title, "Homepage") %>

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p>
      Here you can join tournaments and create your own!<br>
      Remember to log in and create a team before joining any tournaments.
    </p>
    <p>
      <% if user_signed_in? %>
        <%= link_to "View your team page", "#", class: "btn btn-primary btn-lg", disabled: true %>
      <% else %>
        <%= link_to "Sign up" , new_user_registration_path, class: "btn btn-primary btn-lg" %>
        <%= link_to new_user_session_path, class: "btn btn-primary btn-lg" do %>Log in <span class="glyphicon glyphicon-log-in"> <% end %>
      <% end %>
      <%= link_to "Tournaments", "#", class: "btn btn-primary btn-lg", disabled: true %>
    </p>
    
  </div>
