// Place all the styles related to the Tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$line-color: #000000;

#tournament-info{
    h1{
        margin: 0 0 20px 0;
    }

    h4{
        margin: 10px 0;
    }
    
}

#bracket-container{
    position: relative;
}

.low-opacity{
    opacity: .5;
}

#matchScoreModal{
    .modal-body{
        text-align: center;

        input[type=number]{
            width: 50px;
            font-size: 26px;
            text-align: center;
        }
    }
}

.brackets{
    display: flex;
    flex-wrap: nowrap;
    overflow-x:auto;
    overflow-y:hidden;
    padding-bottom: 20px;
}

.round{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .match{
        position: relative;
        
        .match-score-button{
            visibility: hidden;
            position:absolute;
            top:50%;
            left:50%;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            border: 2px solid $line-color;
            opacity: 0;
            transition: opacity .1s;
        }

        &:hover{
            .match-score-button{
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &:not(:first-child){
        margin-left: 40px;
    }
}

.lines{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line-set{
    position:relative;
}

.round3{
    justify-content: flex-end;
    .line-set:last-child{
        margin-top: 100px;
        margin-bottom: 97px;
    }
}

.round4{
    justify-content: flex-end;
    .match:last-child{
        margin-top: 200px;
        margin-bottom: 147px;
    }
    .line-set{
        margin-bottom: 145px;
    }
}

.round5{
    .match{
        margin-bottom: 95px;
    }
    .line-set{
        margin-bottom: 190px;
    }
}

.round6 .match{
    margin-right: 50px;
    margin-bottom: 190px;
}

.team{
    overflow: hidden;
    white-space: normal;
    border: 1px solid $line-color;
    height:30px;
    width: 250px;
    font-size: 20px;

    div.team-name{
        float: left;
        width: 85%;
        height: 100%;
        padding-left: 5px;
    }

    div.team-score{
        float: left;
        width: 15%;
        height: 100%;
        border-left: 1px solid $line-color;
        text-align: center;
    }
}

.empty {
    color:white;
    .team, .team-score{
        border-color: white !important; 
    }  
    span{
        background-color: white;
    }  
}

.top-horizontal{
    position:absolute;
    background-color: $line-color;
    width: 20px;
    height: 2px;
    top: 31.5px;
}

.bottom-horizontal{
    position:absolute;
    background-color: $line-color;
    width: 20px;
    height: 2px;
    bottom: 31.5px;
}

.vertical{
    position:absolute;
    background-color: $line-color;
    width: 2px;
    height: auto;
    top: 31.5px;
    bottom: 31.5px;
    left: 20px;
}

.center-horizontal{
    position:absolute;
    background-color: $line-color;
    width: 20px;
    height: 2px;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

#participants{
    padding-top: 10px;
}

#loading{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #0a0a0a; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.winner{
    background-color: #77ee6c;
}

.loser{
    background-color: #f88a8a;
}

.team-hover{
    background-color: #e8f88a;
    font-weight: bold;
}